*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* header part work */
.Top-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(229, 84, 115, 0.10);
    height: 800px;
}
.head-line{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}
.text-part{
       padding: 150px 0px 140px 200px;
       text-align: left;
}
.paragraph{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn-praimary{
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    padding: 20px 40px;
    color:#FFF;
}
.big-flower{
    
}
/* main section work */
.Featured{
    margin-top: 80px;
    text-align: center;
}
.Featured-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.Featured-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}
.three-radious-flower{
    display: flex;
    gap: 10px;
    width: 50%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
}
.radious-flower1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 400px;
    height: 500px;
}
.Flower-one{
    padding:70px 50px 0px 50px;
}
.radious-flower2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 400px;
    height: 500px;
}
.Flower-two{
    width: 370px;
    height: 370px;
    padding: 120px 40px 50px 40px;
}
.radious-flower3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 460px;
    height: 500px;

}
.Flower-three{
    padding:30px 50px 0px 50px;
}
.under-line{
    display: flex;
    color: #272727;
    width: 65%;
    margin: auto;
    justify-content: space-around;
    text-align: center;
    font-size: 20px;
    font-weight: 400px;
    line-height: 35px;
    text-decoration-line: underline;
}
/* hot sale section work */
.hot-sale{
    background: rgba(229, 84, 115, 0.05);
    margin-top: 120px;

}
.red-rose{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin: auto;
}
.red-rose-text{
    text-align: center;
}
.sale-headline{
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}
.red-rose-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 20px;
}
#bu-text{
    color: #FFF;
}
.design{
   color: #E55473;
}
/* instragram section work */
.instragram-section{
    margin-top: 80px;
    text-align: center;
}
.instra-head{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.instra-description{
    color: rgba(39, 39, 39, 0.60);
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}
.instra-picture{
    display: flex;
    gap: 2px;
    justify-content: space-around;
    align-items: center;
    margin: 45px 200px 120px 200px;
}
.Deal-section{
    background-image: url("../Flower Asset/Rectangle\ 9.png");
    text-align: center;
    width: 77%;
    margin: auto;
    height: 400px;
    background-repeat:no-repeat;
}
.deal-input{
    text-align: center;
}
.deal-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-top: 120px;
}
.deal-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
}
.deal-email{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding: 20px 500px 20px 20px;
    margin-top: 50px;
}
#btn-id{
    font-size: 20px;
    font-weight: 700;
}
/* bonus sectio work */
.for-conversation{
    text-align: center;
    margin-top: 120px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.conversation-line{
    width: 10%;
    margin: auto;
    border: 2px solid gray;
}
.information{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:70%;
    margin: auto;
    margin-top: 20px;
}
.information-title{
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    padding-top: 120px;
}
.address-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
}
.conversation-info-bar{
    text-align: center;
}
.info-bar-first{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 10px 300px 10px 20px;
    margin-top: 70px;
}
.info-bar-second{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 10px 300px 10px 20px;
    margin-top:70px;
    margin-bottom: 30px;
}
.info-bar-text{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 20px 220px 40px 20px;
    width: 45%;
    margin: auto;
}
#btn-send{
    font-size: 20px;
    font-weight: 700;
}
/* the end part work */
.the-end{
    background: #111010;
    width: 1922px;
    height: 449px;
    color: #FFF;
    margin-top: 120px;
    text-align: center;
}
.end-title{
    font-size: 30px;
    font-weight: 800;
    padding-top: 100px;
}
.end-description{
    color: rgba(255, 255, 255, 0.70);
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
}
.endest{
    color: rgba(255, 255, 255, 0.40);
    font-size: 12px;
    font-weight: 200;
    margin-top: 10px;
}

